.section__padding {
  padding : 6rem;
}


.app__bg {
  background-image : url("./assets/bg.png");
  background-position : center;
  background-attachment : fixed;
  background-size : cover;
}

.flex__center {
  display : flex;
  justify-content : center;
  align-items : center;
}

.app__wrapper {
  display : flex;
  justify-content : center;
  align-items : center;
  min-height : 100vh;
}

.app__wrapper_info {
  width : 100%;
  margin-right : 2rem;
}

.app__wrapper_img {
  width : 100%;
}

.app__wrapper_img img {
  width : 80%;
}

.p__cormorant {
  color : var(--color-white);
  font-size : 23px;
  font-weight : 700;
  letter-spacing : 0.04rem;
  text-transform : uppercase;
}

.headtext__cormorant {
  font-size : 64px;
  color : var(--color-golden);
  letter-spacing : 0.04rem;
  text-transform : capitalize;
}

.p__opensans {
  font-family : var(--font-alt);
  color : white;
  letter-spacing : 0.04rem;
  line-height : 1.6;
}

.custom__button {
  padding : 1rem 1.5rem;
  font-size : 1.3rem;
  color : var(--color-black);
  background-color: var(--color-golden);
  border-radius : 11px;
  font-weight : 600;
  cursor : pointer;
  border : none;
  outline : none;
}

.spoon__img {
  width : 45px;
}

@media screen and (min-width : 2000px) {
  .p__cormorant, 
  .custom__button {
    font-size : 37px;
  }

  .headtext__cormorant {
    font-size : 150px;
  }

  .p__opensans {
    font-size : 30px;
    line-height : 1.8;
  }

  .spoon__img {
    width : 80px;
  }
}

@media screen and (max-width : 1150px) {
  .app__wrapper {
    flex-direction : column;
  }

  .app__wrapper_img img {
    width: 100%;
  }

  .app__wrapper_img {
    margin-top : 5rem;
  }

  .app__wrapper_img-reverse {
    margin-bottom : 5rem;
  }
}

@media screen and (max-width : 850px) {
  .section__padding {
    padding : 6rem 4rem;
  }

}

@media screen and (max-width : 650px) {
  .section__padding {
    padding : 6rem 2rem;
  }
  
  .p__cormorant {
    font-size : 21px;
  }

  .p__opensans,
  .custom__button {
    font-size : 14px;
    
  }
}

@media screen and (max-width : 450px) {
  .p__cormorant {
    font-size : 19px;
  }

  .headtext__cormorant {
    font-size : 45px;
  }

  .p__opensans {
    font-size : 12px;
  }
}








