@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --font-base : "Cormorant Upright", serif;
  --font-alt : "Open Sans", sans-serif;

  --color-golden : #dcca87;
  --color-crimson : #f5efdb;
  --color-black : #0c0c0c;
  --color-grey : #545454;
  --color-white : #fff;
}

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  scroll-behavior : smooth;
}

a {
  color : unset;
  text-decoration : none;
}

.slide-bottom {
  -webkit-animation : slide-bottom 0.5s ease both;
  animation : slide-bottom 0.5s ease both;
}

@-webkit-keyframes slide-bottom {
  from {
    -webkit-transform : translateX(25%);
    transform : translateX(25%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-bottom {
  from {
    -webkit-transform : translateX(25%);
    transform : translateX(25%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
